#--------------------------------------------------
# Répertoire : /include/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Article sans numéro de page :
RewriteRule ^historique$   include/historique.php [L]

RewriteRule ^programmes$   include/.php [L]
RewriteRule ^other_activities$   include/other_activities.php [L]

RewriteRule ^payement$   include/payement.php [L]
RewriteRule ^a-propos-de-biep$   include/a-propos-de-cyf.php [L]
RewriteRule ^vision-mission$   include/vision-mission.php [L]
RewriteRule ^notre-constitution$   include/constitution.php [L]
RewriteRule ^structure$   include/structure.php [L]
RewriteRule ^pour-concerts$   include/concerts.php [L]
RewriteRule ^pour-retreats$   include/retreats.php [L]
RewriteRule ^music$  include/music.php [L]
RewriteRule ^bible_studies$  include/bible_studies.php [L]
RewriteRule ^prayer_cells$  include/prayer_cells.php [L]
RewriteRule ^fasting_and_prayer$  include/fasting_and_prayer.php [L]
RewriteRule ^sports$  include/sports.php [L]
RewriteRule ^spcials$  include/socials.php [L]
RewriteRule ^jobs$  include/jobs.php [L]
RewriteRule ^meetings$  include/meetings.php [L]
RewriteRule ^liesure_and_excursion$  include/liesure_and_excursion.php [L]
RewriteRule ^pour-les-cadres$   include/executives.php [L]
RewriteRule ^pour-les-comites$   include/commitees.php [L]
RewriteRule ^bros_corner$  include/bros_corner.php [L]
RewriteRule ^sis_corner$  include/sis_corner.php [L]
RewriteRule ^mtn_momo$  include/mtn_momo.php [L]
RewriteRule ^pour-les-rental_services$  include/rental_sevices.php [L]
RewriteRule ^pour-les-excurssions-detentes$  include/excurssions_detentes.php [L]
RewriteRule ^inscriptions$  include/inscription.php [L]

RewriteRule ^paiements$  include/paiements.php [L]
RewriteRule ^galleries$  include/galleries.php [L]
RewriteRule ^faq$  include/faq.php [L]
RewriteRule ^contact$   include/contact.php [L]
RewriteRule ^contacts$   include/contacts.php [L]
RewriteRule ^index$   index.php [L]
